.board-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    gap: 1.5rem;
}

.board-container h2 {
    font-family: "Permanent Marker", cursive;
    margin-bottom: 1rem;
}

.boards-list {
    max-height: 10rem;
    min-height: 10rem;
    overflow-y: auto;
    margin-right: 2rem;
    border: rgb(103, 102, 102) solid 1px;
    padding: 2rem;
}

.board-item {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
}

.board-item:hover {
    background-color: #eaeaea;
}

.board-item:active {
    background-color: #d0d0d0;
}