.card-item {
  display: flex;
  /* flex-wrap:wrap; */
  font-family: sans-serif;
  background-color: rgb(248, 255, 192);
  /* box-shadow: -15px 7px 1px #884971; */
  width: 80%;
  margin: 1em auto;
  padding: 4em;
  gap: 2em;
  min-height: 150px;
  align-items: center;
  border-radius: 0.625em;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  
}

.card-item button {
  background-color: rgb(255, 0, 200);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Concert One", cursive;
  cursor: pointer;
} 

.card-item button:hover {
  background-color: darkred;
} 


