.card-item {
  font-family: "Concert One", cursive;
  background-color: pink;
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

.card-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.card-item button:hover {
  background-color: darkred;
}