body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: white;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  padding: 0.6em 1em;
  display: inline-block;
  color: rgb(254, 92, 92);
}

h1 {
  background-color: rgb(252, 252, 192);
  transform: rotate(-5deg) skew(-10deg);
}

h2 {
  border: 2px solid black;
  box-shadow: -15px 7px 1px black;
}

.page-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40rem;
}

.boards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.boards-list {
  max-height: 10rem;
  min-height: 10rem;
  overflow-y: auto;
  margin-right: 2rem;
  border: rgb(103, 102, 102) solid 1px;
  padding: 2rem;
}


.selected-board {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}


.cards-container {
  margin-top: 1.5rem;
}

/* .cards-container h2 {
  margin-bottom: 1rem;
} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-item {
  font-family: "Concert One", cursive;
  background-color: pink;
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.new-board-form-container,
.new-card-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.new-board-form,
.new-card-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2em;
  width: 100%;
}

.new-board-form input,
.new-card-form input {
  padding: 0.5em;
  border: 1px solid black;
  width: 100%;
}

.new-board-form-submit-btn,
.new-card-form-submit-btn {
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.new-board-form-submit-btn:hover,
.new-card-form-submit-btn:hover {
  background-color: lightgrey;
}

.new-board-form__toggle-btn {
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2rem;
}