body {
  display: flex;
  flex-wrap:wrap;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: #FEFAE0;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  padding: 0.6em 1em;
  display: inline-block;
  background-color: rgb(252, 192, 220);
  color: rgb(19, 18, 18);
}

h1 {
  background-color: rgb(252, 192, 220);
  transform: rotate(-5deg) skew(-10deg);
}

h2 {
  border: 2px solid rgb(153, 93, 133);
  box-shadow: -15px 7px 1px #884971;
}

.page-container {
  /* display: grid; */
  display: flex;
  flex-wrap:wrap;
  grid-template-columns: 2fr 2fr;
  gap: 20rem; 
}

.boards-container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  gap: 1.5rem;
}


.boards-list {
  overflow-y: auto;
  margin-right: 2rem;
  border: rgb(16, 16, 16) solid 1px;
  padding: 2rem;
  background-color: white;
}

.selected-board {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-item {
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  background-color: pink;
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.new-board-form-container,
.new-card-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.new-board-form,
.new-card-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2em;
  width: 100%;
}

.new-board-form input,
.new-card-form input {
  padding: 0.5em;
  border: 1px solid black;
  width: 100%;
}

.new-board-form-submit-btn,
.new-card-form-submit-btn {
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.new-board-form-submit-btn:hover,
.new-card-form-submit-btn:hover {
  background-color: lightgrey;
}

.new-board-form__toggle-btn {
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

